@charset "utf-8";
/* CSS Document */


nav{
background:#876948;
grid-area: nav;
	}
nav ul li a:hover {
background:#FFFFFF;
color:#AB0306;
}


nav ul{
list-style-type: none;
text-align-last:center;
margin:0;
padding:0;
font-size: 30px;
}

nav ul li a{
color:#FFFFFF;
}

li{
padding-bottom: 50px;
}

header{
background-image:url("images/1418_logo.png");
background-size:cover;
padding:50px;
background-position:top;
text-align:right;
font-family: "Crimson Text", serif;
font-weight: 700;
font-style: normal;
grid-area:header;
}

main{
grid-area:main;
}

h1{
text-align: center;
}

.schools{
max-width: 100%;
}

.event_info{
margin: 20px;
margin-top:15px;
}
section{
padding: 30px;
}

.education_header{
text-align: center;
font-size: 30px;
}

.trenches{
margin: 50px;
}

.trench_tour{

}

h2{
margin:17px;	
margin-top: 0;
}

.events_photo{
margin:30px;
margin-bottom: 10px;
}

.mediah1{
margin-left: 10px;
font-size: 40px;
}

.mediasubtitle{
text-align: center;
margin-bottom: 0;
}
.photos{
margin-left: 55px;
}

blockquote{
text-align: center;
font-size: 20px;
background-image: url("images/parchment paper.png");
padding-bottom: 20px;
   font-family: "Crimson Text", serif;
  font-weight: 600;
}

.quote{
font-size:15px;
text-align: center
	
}

.ww1_soldiers{
justify-content: flex-end;
max-width: 80%;
margin:165px;
margin-bottom: 0px;
margin-top: 0px;
}

.marching_soldiers{
justify-content: center;
margin:165px;
margin-bottom: 0px;
margin-top: 0px;	
}

.media{
max-width: 80%;
justify-content: flex-end;
margin: 50px;
}

p{
font-size: 20px;
font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
margin-left: 20px;
margin-right: 10px;
}

.cashapp{
margin: 20px;
margin-right: 30px;
}

.paypal{
max-width: 29%;
margin: 20px;
}

.venmo{
max-width: 25%;
margin-bottom: 20px;
margin-left: 30px;
}

.give_links{
margin-left: 170px;
margin-bottom: 30px;
}


.kitchener{
padding-left: 225px;
}

.shop_h1{
margin-left: 10px;
font-size: 40px;
}

.shop_subtitle{
text-align: center;
}

.kitchener_shirt{
margin: 20px;
margin-bottom: 0;

}

.first_row{
margin-left: 70px;
margin-bottom: 0;
}

footer{
background-color:#876948;;
padding:0px;
grid-area: footer;
}

.footerstuff{
margin-left: 360px;
}

h3{
font-size: 17px;

}

.fb{
margin-left: 15px;
margin-right: 10px;
}

.ig{
margin-right: 10px;
margin-left: 10px;
}

.twt{
margin-left: 50px;
}

.icons{
margin-left: 50px;
}

.contactus{
margin-left: 70px;
}

.address{
margin-left: 800px;
margin-bottom: 0;
}

#container {
display: grid;
grid-template-columns: 3fr 3fr 3fr 3fr;
grid-template-rows: auto;
grid-template-areas:
	"nav header header header"
	" nav    main    main    main"
	"nav    main   main   main"
	"footer footer footer footer";
}
.event_info {
}
.events_photo {
}
.schoolresources {
}
.museumresources {
}
.history_buff {
}
.education_header {
}
.paypal {
}
.venmo {
}
.zelle {
}
.cashapp {
}
.give_links {
}
.kitchener {
}
.address {
}
.kitchener_shirt {
}
.shop_h1 {
}
.fb {
}
.ig {
}
.twt {
}
.footerstuff {
}
.icons {
}
